OMeGa/OMeGa/src/main/webapp/WEB-INF/services/IOTA_Service/META-INF/IoTaWSInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="IOTA" targetNamespace="urn:fr:unicaen:params:wsdl:ns:iota-1.0" xmlns:wsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iotaw="urn:fr:unicaen:params:wsdl:ns:iota-1.0" xmlns:iota="urn:fr:unicaen:params:xsd:ns:iota-1.0">

<!-- XML SCHAM -->

    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="urn:fr:unicaen:params:xsd:ns:iota-1.0" schemaLocation="iota.xsd"/>
        </xs:schema>
    </wsdl:types>
    
<!-- MESSAGES DEFINITIONS -->

    <wsdl:message name="queryEPCISRequest">
        <wsdl:part name="parms" element="iota:queryEPCISRequest" >
        </wsdl:part>        
    </wsdl:message>
    <wsdl:message name="queryEPCISResponse">
        <wsdl:part name="parms" element="iota:queryEPCISResponse"/>
    </wsdl:message>
    <wsdl:message name="helloRequest">
        <wsdl:part name="parms" element="iota:helloRequest"/>
    </wsdl:message>
    <wsdl:message name="helloResponse">
        <wsdl:part name="parms" element="iota:helloResponse"/>
    </wsdl:message>
    <wsdl:message name="queryDSRequest">
        <wsdl:part name="parms" element="iota:queryDSRequest"/>
    </wsdl:message>
    <wsdl:message name="queryDSResponse">
        <wsdl:part name="parms" element="iota:queryDSResponse"/>
    </wsdl:message>
    <wsdl:message name="traceEPCRequest">
        <wsdl:part name="parms" element="iota:traceEPCRequest"/>
    </wsdl:message>
    <wsdl:message name="traceEPCResponse">
        <wsdl:part name="parms" element="iota:traceEPCResponse"/>
    </wsdl:message>
    <wsdl:message name="getReferenteDSRequest">
        <wsdl:part name="parms" element="iota:getReferenteDSRequest"/>
    </wsdl:message>
    <wsdl:message name="getReferenteDSResponse">
        <wsdl:part name="parms" element="iota:getReferenteDSResponse"/>
    </wsdl:message>
    <wsdl:message name="queryONSRequest">
        <wsdl:part name="parms" element="iota:queryONSRequest"/>
    </wsdl:message>
    <wsdl:message name="queryONSResponse">
        <wsdl:part name="parms" element="iota:queryONSResponse"/>
    </wsdl:message>
    <wsdl:message name="getProductInfoRequest">
        <wsdl:part name="parms" element="iota:getProductInfoRequest"/>
    </wsdl:message>
    <wsdl:message name="getProductInfoResponse">
        <wsdl:part name="parms" element="iota:getProductInfoResponse"/>
    </wsdl:message>
  
<!-- PORT-TYPE DEFINITIONS -->  
  
    <wsdl:portType name="IOTAServicePortType">
         <wsdl:operation name="queryEPCIS">
            <wsdl:input name="queryEPCISRequest" message="iotaw:queryEPCISRequest">
            </wsdl:input>
            <wsdl:output name="queryEPCISResponse" message="iotaw:queryEPCISResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hello">
            <wsdl:input name="helloRequest" message="iotaw:helloRequest">
            </wsdl:input>
            <wsdl:output name="helloResponse" message="iotaw:helloResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryDS">
            <wsdl:input name="queryDSRequest" message="iotaw:queryDSRequest">
            </wsdl:input>
            <wsdl:output name="queryDSResponse" message="iotaw:queryDSResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="traceEPC">
            <wsdl:input name="traceEPCRequest" message="iotaw:traceEPCRequest">
            </wsdl:input>
            <wsdl:output name="traceEPCResponse" message="iotaw:traceEPCResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getReferenteDS">
            <wsdl:input name="getReferenteDSRequest" message="iotaw:getReferenteDSRequest">
            </wsdl:input>
            <wsdl:output name="getReferenteDSResponse" message="iotaw:getReferenteDSResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryONS">
            <wsdl:input name="queryONSRequest" message="iotaw:queryONSRequest">
            </wsdl:input>
            <wsdl:output name="queryONSResponse" message="iotaw:queryONSResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProductInfo">
            <wsdl:input name="getProductInfoRequest" message="iotaw:getProductInfoRequest">
            </wsdl:input>
            <wsdl:output name="getProductInfoResponse" message="iotaw:getProductInfoResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    
    
    <!-- BINDING DEFINITIONS -->
    
    
    <wsdl:binding name="IOTA" type="iotaw:IOTAServicePortType">
        <wsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="queryEPCIS">
            <wsoap:operation soapAction=""/>
            <wsdl:input name="queryEPCISRequest" >
                <wsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryEPCISResponse">
                <wsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="hello">
            <wsoap:operation soapAction=""/>
            <wsdl:input name="helloRequest">
                <wsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="helloResponse">
                <wsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryDS">
            <wsoap:operation soapAction=""/>
            <wsdl:input name="queryDSRequest">
                <wsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryDSResponse">
                <wsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="traceEPC">
            <wsoap:operation soapAction=""/>
            <wsdl:input name="traceEPCRequest">
                <wsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="traceEPCResponse">
                <wsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getReferenteDS">
            <wsoap:operation soapAction=""/>
            <wsdl:input name="getReferenteDSRequest">
                <wsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getReferenteDSResponse">
                <wsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="queryONS">
            <wsoap:operation soapAction=""/>
            <wsdl:input name="queryONSRequest">
                <wsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryONSResponse">
                <wsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getProductInfo">
            <wsoap:operation soapAction=""/>
            <wsdl:input name="getProductInfoRequest">
                <wsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getProductInfoResponse">
                <wsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>    
    </wsdl:binding>
    
    <!-- SERVICE DEFINITIONS -->
    
    <wsdl:service name="IOTA_Service">
        <wsdl:port name="IOTA_Service" binding="iotaw:IOTA">
            <wsoap:address location="http://localhost:8080/IoTaWSInterface/services/IOTA_Service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
