DS/DS-Client/src/main/resources/wsdl/ds.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="DSService"
                  targetNamespace="urn:unicaen:iota:ds:wsdl"
                  xmlns:wsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:dsw="urn:unicaen:iota:ds:wsdl"
                  xmlns:ds="urn:unicaen:iota:ds:xsd">

    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="urn:unicaen:iota:ds:xsd" schemaLocation="ds.xsd"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="eventCreateRequest">
        <wsdl:part name="eventCreateReq" element="ds:eventCreateReq"/>
    </wsdl:message>

    <wsdl:message name="eventCreateResponse">
        <wsdl:part name="eventCreateResp" element="ds:eventCreateResp"/>
    </wsdl:message>

    <wsdl:message name="multipleEventCreateRequest">
        <wsdl:part name="multipleEventCreateReq" element="ds:multipleEventCreateReq"/>
    </wsdl:message>

    <wsdl:message name="multipleEventCreateResponse">
        <wsdl:part name="multipleEventCreateResp" element="ds:multipleEventCreateResp"/>
    </wsdl:message>

    <wsdl:message name="eventLookupRequest">
       <wsdl:part name="eventLookupReq" element="ds:eventLookupReq"/>
    </wsdl:message>

    <wsdl:message name="eventLookupResponse">
        <wsdl:part name="eventLookResp" element="ds:eventLookupResp"/>
    </wsdl:message>

    <wsdl:message name="ImplementationExceptionResponse">
        <wsdl:part name="fault" element="ds:ImplementationException"/>
    </wsdl:message>

    <wsdl:message name="InternalExceptionResponse">
        <wsdl:part name="fault" element="ds:InternalException"/>
    </wsdl:message>

    <wsdl:portType name="DSServicePortType">
        <wsdl:operation name="eventCreate">
            <wsdl:input name="eventCreateRequest" message="dsw:eventCreateRequest"/>
            <wsdl:output name="eventCreateResult" message="dsw:eventCreateResponse"/>
            <wsdl:fault name="ImplementationExceptionFault" message="dsw:ImplementationExceptionResponse"/>
            <wsdl:fault name="InternalExceptionFault" message="dsw:InternalExceptionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="multipleEventCreate">
            <wsdl:input name="multipleEventCreateRequest" message="dsw:multipleEventCreateRequest"/>
            <wsdl:output name="multipleEventCreateResult" message="dsw:multipleEventCreateResponse"/>
            <wsdl:fault name="ImplementationExceptionFault" message="dsw:ImplementationExceptionResponse"/>
            <wsdl:fault name="InternalExceptionFault" message="dsw:InternalExceptionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="eventLookup">
            <wsdl:input name="eventLookupRequest" message="dsw:eventLookupRequest"/>
            <wsdl:output name="eventLookupResult" message="dsw:eventLookupResponse"/>
            <wsdl:fault name="ImplementationExceptionFault" message="dsw:ImplementationExceptionResponse"/>
            <wsdl:fault name="InternalExceptionFault" message="dsw:InternalExceptionResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="DSBinding" type="dsw:DSServicePortType">
        <wsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="eventCreate">
            <wsoap:operation/>
            <wsdl:input>
                <wsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ImplementationExceptionFault">
                <wsoap:fault name="ImplementationExceptionFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalExceptionFault">
                <wsoap:fault name="InternalExceptionFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="multipleEventCreate">
            <wsoap:operation/>
            <wsdl:input>
                <wsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ImplementationExceptionFault">
                <wsoap:fault name="ImplementationExceptionFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalExceptionFault">
                <wsoap:fault name="InternalExceptionFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="eventLookup">
            <wsoap:operation/>
            <wsdl:input>
                <wsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ImplementationExceptionFault">
                <wsoap:fault name="ImplementationExceptionFault" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InternalExceptionFault">
                <wsoap:fault name="InternalExceptionFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="DSService">
        <wsdl:port name="DSServiceServicePort" binding="dsw:DSBinding">
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
