IoTa-DiscoveryWS/IoTa-DiscoveryWS-Client/src/main/resources/xsd0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:esds="urn:ietf:params:xsd:ns:esds-1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:ietf:params:xsd:ns:esds-1.0">
    <xs:simpleType name="tPassword">
        <xs:restriction base="xs:token">
            <xs:minLength value="6"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tServiceURI">
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>
    <xs:simpleType name="tX509String">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tMessageDigestHexString">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="512"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tLeaseSeconds">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxExclusive value="3600"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tEventPriority">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxExclusive value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tEventTTL">
        <xs:restriction base="xs:positiveInteger"/>
    </xs:simpleType>
    <xs:simpleType name="tServiceType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ws"/>
            <xs:enumeration value="epcis"/>
            <xs:enumeration value="html"/>
            <xs:enumeration value="xmlrpc"/>
            <xs:enumeration value="ds"/>
            <xs:enumeration value="ided_ds"/>
            <xs:enumeration value="ided_epcis"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tEventType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="void"/>
            <xs:enumeration value="object"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tObject">
        <xs:restriction base="xs:token">
            <xs:enumeration value="global"/>
            <xs:enumeration value="role"/>
            <xs:enumeration value="user"/>
            <xs:enumeration value="partner"/>
            <xs:enumeration value="supplychain"/>
            <xs:enumeration value="event"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tMethod">
        <xs:restriction base="xs:token">
            <xs:enumeration value="hello"/>
            <xs:enumeration value="login"/>
            <xs:enumeration value="logout"/>
            <xs:enumeration value="create"/>
            <xs:enumeration value="update"/>
            <xs:enumeration value="delete"/>
            <xs:enumeration value="info"/>
            <xs:enumeration value="lookup"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tPermission">
        <xs:restriction base="xs:token">
            <xs:enumeration value="execute"/>
            <xs:enumeration value="proxy"/>
            <xs:enumeration value="void"/>
            <xs:enumeration value="admin"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tListAction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="add"/>
            <xs:enumeration value="remove"/>
            <xs:enumeration value="replace"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tLoginMode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="key-and-password"/>
            <xs:enumeration value="key-only"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tMessageDigestAlgorithm">
        <xs:restriction base="xs:token">
            <xs:enumeration value="md5"/>
            <xs:enumeration value="md4"/>
            <xs:enumeration value="md2"/>
            <xs:enumeration value="sha1"/>
            <xs:enumeration value="sha"/>
            <xs:enumeration value="mdc2"/>
            <xs:enumeration value="ripemd160"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tAccessMode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="read"/>
            <xs:enumeration value="write"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tStatus">
        <xs:restriction base="xs:token">
            <xs:enumeration value="active"/>
            <xs:enumeration value="inactive"/>
            <xs:enumeration value="pending"/>
            <xs:enumeration value="processed"/>
            <xs:enumeration value="failed"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tResultCode">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1000"/>
            <xs:enumeration value="1001"/>
            <xs:enumeration value="1500"/>
            <xs:enumeration value="2000"/>
            <xs:enumeration value="2001"/>
            <xs:enumeration value="2002"/>
            <xs:enumeration value="2003"/>
            <xs:enumeration value="2004"/>
            <xs:enumeration value="2005"/>
            <xs:enumeration value="2100"/>
            <xs:enumeration value="2101"/>
            <xs:enumeration value="2102"/>
            <xs:enumeration value="2103"/>
            <xs:enumeration value="2104"/>
            <xs:enumeration value="2200"/>
            <xs:enumeration value="2201"/>
            <xs:enumeration value="2202"/>
            <xs:enumeration value="2302"/>
            <xs:enumeration value="2303"/>
            <xs:enumeration value="2304"/>
            <xs:enumeration value="2305"/>
            <xs:enumeration value="2306"/>
            <xs:enumeration value="2306"/>
            <xs:enumeration value="2307"/>
            <xs:enumeration value="2400"/>
            <xs:enumeration value="2500"/>
            <xs:enumeration value="2501"/>
            <xs:enumeration value="2502"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tSessionID">
        <xs:restriction base="xs:token">
            <xs:minLength value="32"/>
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tRoleID">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tUserID">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tPartnerID">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tSupplyChainID">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tEventID">
        <xs:restriction base="xs:positiveInteger"/>
    </xs:simpleType>
    <xs:simpleType name="tEventClass">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tServiceID">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tEventTopicID">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tTableID">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="tSmallUID">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>
    <xs:simpleType name="tLargeUID">
        <xs:restriction base="xs:positiveInteger"/>
    </xs:simpleType>
    <xs:simpleType name="tObjectID">
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>
    <xs:simpleType name="tObjectIDPattern">
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>
    <xs:simpleType name="tLifeCycleStepID">
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>
    <xs:simpleType name="tExtensionID">
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>
    <xs:simpleType name="tReasonID">
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>
    <xs:complexType name="tRoleItem">
        <xs:attribute name="id" type="esds:tRoleID" use="required"/>
        <xs:attribute name="uid" type="esds:tSmallUID"/>
    </xs:complexType>
    <xs:complexType name="tRoleItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="role" type="esds:tRoleItem"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tGrantItem">
        <xs:attribute name="o" type="esds:tObject" use="required"/>
        <xs:attribute name="m" type="esds:tMethod" use="required"/>
        <xs:attribute name="p" type="esds:tPermission" use="required"/>
    </xs:complexType>
    <xs:complexType name="tGrantItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="grant" type="esds:tGrantItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tUserItem">
        <xs:attribute name="id" type="esds:tUserID" use="required"/>
        <xs:attribute name="uid" type="esds:tSmallUID"/>
    </xs:complexType>
    <xs:complexType name="tUserItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="user" type="esds:tUserItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tPartnerItem">
        <xs:attribute name="id" type="esds:tPartnerID" use="required"/>
        <xs:attribute name="uid" type="esds:tSmallUID"/>
        <xs:attribute name="authority" type="xs:boolean"/>
    </xs:complexType>
    <xs:complexType name="tPartnerItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="partner" type="esds:tPartnerItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tSupplyChainItem">
        <xs:attribute name="id" type="esds:tSupplyChainID" use="required"/>
        <xs:attribute name="uid" type="esds:tSmallUID"/>
    </xs:complexType>
    <xs:complexType name="tSupplyChainItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="supplyChain" type="esds:tSupplyChainItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tEventItem">
        <xs:sequence>
            <xs:element name="serviceList" type="esds:tServiceItemList"/>
        </xs:sequence>
        <xs:attribute name="e" type="esds:tEventID" use="required"/>
        <xs:attribute name="o" type="esds:tObjectID" use="required"/>
        <xs:attribute name="t" type="esds:tEventType" use="required"/>
        <xs:attribute name="c" type="esds:tEventClass" use="required"/>
        <xs:attribute name="lcs" type="esds:tLifeCycleStepID" use="required"/>
        <xs:attribute name="ets" type="xs:dateTime" use="required"/>
        <xs:attribute name="sts" type="xs:dateTime" use="required"/>
        <xs:attribute name="u" type="esds:tUserID" use="required"/>
        <xs:attribute name="p" type="esds:tPartnerID" use="required"/>
        <xs:attribute name="sc" type="esds:tSupplyChainID" use="required"/>
    </xs:complexType>
    <xs:complexType name="tEventItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="event" type="esds:tEventItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tObjectItem">
        <xs:attribute name="id" type="esds:tObjectID" use="required"/>
    </xs:complexType>
    <xs:complexType name="tObjectItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="object" type="esds:tObjectItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tX509CertItem">
        <xs:attribute name="cn" type="esds:tX509String" use="required"/>
        <xs:attribute name="o" type="esds:tX509String" use="required"/>
        <xs:attribute name="fingerprint" type="esds:tX509String" use="required"/>
    </xs:complexType>
    <xs:complexType name="tX509CertItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="cert" type="esds:tX509CertItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tServiceItem">
        <xs:attribute name="id" type="esds:tServiceID" use="required"/>
        <xs:attribute name="type" type="esds:tServiceType" use="required"/>
        <xs:attribute name="uri" type="esds:tServiceURI" use="required"/>
    </xs:complexType>
    <xs:complexType name="tServiceItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="service" type="esds:tServiceItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tServiceIDList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="esds:tServiceID"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tLifeCycleStepItem">
        <xs:attribute name="id" type="esds:tLifeCycleStepID" use="required"/>
    </xs:complexType>
    <xs:complexType name="tLifeCycleStepItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="lifeCycleStep" type="esds:tLifeCycleStepItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tEventClassItem">
        <xs:attribute name="id" type="esds:tEventClass" use="required"/>
    </xs:complexType>
    <xs:complexType name="tEventClassItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="eventClass" type="esds:tEventClassItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tExtensionItem">
        <xs:attribute name="id" type="esds:tExtensionID" use="required"/>
    </xs:complexType>
    <xs:complexType name="tExtensionItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="esds:tExtensionItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tEventTopicItem">
        <xs:sequence>
            <xs:element minOccurs="0" name="lifeCycleStepList" type="esds:tLifeCycleStepItemList"/>
            <xs:element minOccurs="0" name="eventClassList" type="esds:tEventClassItemList"/>
        </xs:sequence>
        <xs:attribute name="id" type="esds:tEventTopicID" use="required"/>
        <xs:attribute name="objectIDPattern" type="esds:tObjectIDPattern" use="required"/>
    </xs:complexType>
    <xs:complexType name="tEventTopicItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="eventTopic" type="esds:tEventTopicItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tTableRowItem">
        <xs:attribute name="uid" type="esds:tSmallUID" use="required"/>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="desc" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="tTableRowItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="row" type="esds:tTableRowItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tEventLifeCycleStepAllowItem">
        <xs:attribute name="partnerID" type="esds:tPartnerID" use="required"/>
        <xs:attribute name="lifeCycleStepID" type="esds:tLifeCycleStepID" use="required"/>
        <xs:attribute name="accessMode" type="esds:tAccessMode" use="required"/>
        <xs:attribute name="userID" type="esds:tUserID"/>
    </xs:complexType>
    <xs:complexType name="tEventLifeCycleStepAllowItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="allow" type="esds:tEventLifeCycleStepAllowItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tEventDenyItem">
        <xs:attribute name="status" type="esds:tStatus" use="required"/>
        <xs:attribute name="supplyChainID" type="esds:tSupplyChainID" use="required"/>
        <xs:attribute name="partnerID" type="esds:tPartnerID" use="required"/>
        <xs:attribute name="userID" type="esds:tUserID"/>
        <xs:attribute name="objectIDPattern" type="esds:tObjectIDPattern"/>
        <xs:attribute name="startingAt" type="xs:dateTime"/>
        <xs:attribute name="endingAt" type="xs:dateTime"/>
    </xs:complexType>
    <xs:complexType name="tEventDenyItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="deny" type="esds:tEventDenyItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="esds:tListAction"/>
    </xs:complexType>
    <xs:complexType name="tExtension">
        <xs:sequence>
            <xs:any maxOccurs="unbounded" namespace="##other"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tResult">
        <xs:sequence>
            <xs:element minOccurs="0" name="value" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="code" type="esds:tResultCode" use="required"/>
        <xs:attribute name="desc" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="tMessageDigest">
        <xs:sequence>
            <xs:element name="digest" type="esds:tMessageDigestHexString"/>
        </xs:sequence>
        <xs:attribute name="alg" type="esds:tMessageDigestAlgorithm" use="required"/>
    </xs:complexType>
    <xs:complexType abstract="true" name="tAbstractEvent">
        <xs:sequence>
            <xs:element minOccurs="0" name="extension" type="esds:tExtension"/>
            <xs:element minOccurs="0" name="priority" type="esds:tEventPriority"/>
            <xs:element minOccurs="0" name="ttl" type="esds:tEventTTL"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tVoidEvent">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractEvent">
                <xs:sequence>
                    <xs:element name="eventID" type="esds:tEventID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="tObjectEvent">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractEvent">
                <xs:sequence>
                    <xs:element name="objectID" type="esds:tObjectID"/>
                    <xs:element name="lifeCycleStepID" type="esds:tLifeCycleStepID"/>
                    <xs:element name="eventClass" type="esds:tEventClass"/>
                    <xs:element name="sourceTS" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="serviceList" type="esds:tServiceIDList"/>
                    <xs:element minOccurs="0" name="messageDigest" type="esds:tMessageDigest"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="tEventTypeChoice">
        <xs:choice>
            <xs:element name="voidEvent" type="esds:tVoidEvent"/>
            <xs:element name="objectEvent" type="esds:tObjectEvent"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="tObjectEventList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0"  name="objectEvent" type="esds:tObjectEvent"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tEventIDList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="eventID" type="esds:tEventID"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tInfoEvent">
        <xs:sequence>
            <xs:element name="eventID" type="esds:tEventID"/>
            <xs:element name="objectID" type="esds:tObjectID"/>
            <xs:element name="eventType" type="esds:tEventType"/>
            <xs:element name="eventClass" type="esds:tEventClass"/>
            <xs:element name="lifeCycleStepID" type="esds:tLifeCycleStepID"/>
            <xs:element name="eventTS" type="xs:dateTime"/>
            <xs:element name="sourceTS" type="xs:dateTime"/>
            <xs:element name="partnerID" type="esds:tPartnerID"/>
            <xs:element name="supplyChainID" type="esds:tSupplyChainID"/>
            <xs:element name="userID" type="esds:tUserID"/>
            <xs:element minOccurs="0" name="serviceList" type="esds:tServiceItemList"/>
            <xs:element minOccurs="0" name="messageDigest" type="esds:tMessageDigest"/>
            <xs:element minOccurs="0" name="priority" type="esds:tEventPriority"/>
            <xs:element minOccurs="0" name="ttl" type="esds:tEventTTL"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType abstract="true" name="tAbstractIn">
        <xs:sequence>
            <xs:element name="sid" type="esds:tSessionID"/>
            <xs:element minOccurs="0" name="extension" type="esds:tExtension"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType abstract="true" name="tAbstractOut">
        <xs:sequence>
            <xs:element name="result" type="esds:tResult"/>
            <xs:element minOccurs="0" name="extension" type="esds:tExtension"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HelloIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="HelloOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="serverIdentity" type="xs:token"/>
                    <xs:element name="serverTS" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="extensionList" type="esds:tExtensionItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LookupIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="tableID" type="esds:tTableID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="LookupOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="rowList" type="esds:tTableRowItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RoleLookupIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="roleID" type="esds:tRoleID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RoleLookupOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="roleList" type="esds:tRoleItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RoleCreateIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="roleID" type="esds:tRoleID"/>
                    <xs:element minOccurs="0" name="grantList" type="esds:tGrantItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RoleCreateOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="roleUID" type="esds:tSmallUID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RoleInfoIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="roleID" type="esds:tRoleID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RoleInfoOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="roleUID" type="esds:tSmallUID"/>
                    <xs:element name="roleID" type="esds:tRoleID"/>
                    <xs:element minOccurs="0" name="grantList" type="esds:tGrantItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RoleUpdateIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="roleUID" type="esds:tSmallUID"/>
                    <xs:element minOccurs="0" name="roleID" type="esds:tRoleID"/>
                    <xs:element minOccurs="0" name="grantList" type="esds:tGrantItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RoleUpdateOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RoleDeleteIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="roleID" type="esds:tRoleID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RoleDeleteOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserLookupIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="userID" type="esds:tUserID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserLookupOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="userList" type="esds:tUserItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserCreateIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="userID" type="esds:tUserID"/>
                    <xs:element name="password" type="esds:tPassword"/>
                    <xs:element name="roleID" type="esds:tRoleID"/>
                    <xs:element name="partnerID" type="esds:tPartnerID"/>
                    <xs:element name="loginMode" type="esds:tLoginMode"/>
                    <xs:element name="sessionLease" type="esds:tLeaseSeconds"/>
                    <xs:element minOccurs="0" name="authorizedCertList" type="esds:tX509CertItemList"/>
                    <xs:element minOccurs="0" name="eventNotifyTopicList" type="esds:tEventTopicItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserCreateOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="userUID" type="esds:tSmallUID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserInfoIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="userID" type="esds:tUserID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserInfoOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="userUID" type="esds:tSmallUID"/>
                    <xs:element name="userID" type="esds:tUserID"/>
                    <xs:element name="roleID" type="esds:tRoleID"/>
                    <xs:element name="partnerID" type="esds:tPartnerID"/>
                    <xs:element name="loginMode" type="esds:tLoginMode"/>
                    <xs:element name="sessionLease" type="esds:tLeaseSeconds"/>
                    <xs:element minOccurs="0" name="authorizedCertList" type="esds:tX509CertItemList"/>
                    <xs:element minOccurs="0" name="eventNotifyTopicList" type="esds:tEventTopicItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserUpdateIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="userUID" type="esds:tSmallUID"/>
                    <xs:element minOccurs="0" name="userID" type="esds:tUserID"/>
                    <xs:element minOccurs="0" name="password" type="esds:tPassword"/>
                    <xs:element minOccurs="0" name="roleID" type="esds:tRoleID"/>
                    <xs:element minOccurs="0" name="partnerID" type="esds:tPartnerID"/>
                    <xs:element minOccurs="0" name="loginMode" type="esds:tLoginMode"/>
                    <xs:element minOccurs="0" name="sessionLease" type="esds:tLeaseSeconds"/>
                    <xs:element minOccurs="0" name="authorizedCertList" type="esds:tX509CertItemList"/>
                    <xs:element minOccurs="0" name="eventNotifyTopicList" type="esds:tEventTopicItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserUpdateOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserDeleteIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="userID" type="esds:tUserID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserDeleteOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserLoginIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="userID" type="esds:tUserID"/>
                    <xs:element name="password" type="esds:tPassword"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserLoginOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="sid" type="esds:tSessionID"/>
                    <xs:element name="sessionLease" type="esds:tLeaseSeconds"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserLogoutIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="UserLogoutOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PartnerLookupIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="partnerID" type="esds:tPartnerID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PartnerLookupOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="partnerList" type="esds:tPartnerItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PartnerCreateIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="partnerID" type="esds:tPartnerID"/>
                    <xs:element minOccurs="0" name="serviceList" type="esds:tServiceItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PartnerCreateOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="partnerUID" type="esds:tSmallUID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PartnerInfoIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="partnerID" type="esds:tPartnerID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PartnerInfoOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="partnerUID" type="esds:tSmallUID"/>
                    <xs:element name="partnerID" type="esds:tPartnerID"/>
                    <xs:element name="supplyChainList" type="esds:tSupplyChainItemList"/>
                    <xs:element name="serviceList" type="esds:tServiceItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PartnerUpdateIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="partnerUID" type="esds:tSmallUID"/>
                    <xs:element minOccurs="0" name="partnerID" type="esds:tPartnerID"/>
                    <xs:element minOccurs="0" name="serviceList" type="esds:tServiceItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PartnerUpdateOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PartnerDeleteIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="partnerID" type="esds:tPartnerID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PartnerDeleteOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SupplyChainLookupIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="supplyChainID" type="esds:tSupplyChainID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SupplyChainLookupOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="supplyChainList" type="esds:tSupplyChainItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SupplyChainCreateIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="supplyChainID" type="esds:tSupplyChainID"/>
                    <xs:element minOccurs="0" name="partnerList" type="esds:tPartnerItemList"/>
                    <xs:element minOccurs="0" name="eventDenyList" type="esds:tEventDenyItemList"/>
                    <xs:element minOccurs="0" name="lifeCycleAllowList" type="esds:tEventLifeCycleStepAllowItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SupplyChainCreateOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="supplyChainUID" type="esds:tSmallUID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SupplyChainInfoIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="supplyChainID" type="esds:tSupplyChainID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SupplyChainInfoOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="supplyChainUID" type="esds:tSmallUID"/>
                    <xs:element name="supplyChainID" type="esds:tSupplyChainID"/>
                    <xs:element minOccurs="0" name="partnerList" type="esds:tPartnerItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SupplyChainUpdateIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="supplyChainUID" type="esds:tSmallUID"/>
                    <xs:element minOccurs="0" name="supplyChainID" type="esds:tSupplyChainID"/>
                    <xs:element minOccurs="0" name="partnerList" type="esds:tPartnerItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SupplyChainUpdateOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SupplyChainDeleteIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="supplyChainID" type="esds:tSupplyChainID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SupplyChainDeleteOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EventLookupIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="objectID" type="esds:tObjectID"/>
                    <xs:element minOccurs="0" name="lifeCycleStepID" type="esds:tLifeCycleStepID"/>
                    <xs:element minOccurs="0" name="startingAt" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="endingAt" type="xs:dateTime"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EventLookupOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="eventList" type="esds:tEventItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>




    <xs:complexType name="EventCreateIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="event" type="esds:tEventTypeChoice"/>
                    <xs:element name="supplyChainID" type="esds:tSupplyChainID"/>
                    <xs:element minOccurs="0" name="proxyPartnerID" type="esds:tPartnerID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EventCreateOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="eventID" type="esds:tEventID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="MultipleEventCreateIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="events" type="esds:tObjectEventList"/>
                    <xs:element name="supplyChainID" type="esds:tSupplyChainID"/>
                    <xs:element minOccurs="0" name="proxyPartnerID" type="esds:tPartnerID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="MultipleEventCreateOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="eventIDList" type="esds:tEventIDList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>


    <xs:complexType name="EventInfoIn">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="eventID" type="esds:tEventID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="EventInfoOut">
        <xs:complexContent>
            <xs:extension base="esds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="event" type="esds:tInfoEvent"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="Hello" type="esds:HelloIn"/>
    <xs:element name="HelloResult" type="esds:HelloOut"/>
    <xs:element name="Lookup" type="esds:LookupIn"/>
    <xs:element name="LookupResult" type="esds:LookupOut"/>
    <xs:element name="RoleLookup" type="esds:RoleLookupIn"/>
    <xs:element name="RoleLookupResult" type="esds:RoleLookupOut"/>
    <xs:element name="RoleCreate" type="esds:RoleCreateIn"/>
    <xs:element name="RoleCreateResult" type="esds:RoleCreateOut"/>
    <xs:element name="RoleInfo" type="esds:RoleInfoIn"/>
    <xs:element name="RoleInfoResult" type="esds:RoleInfoOut"/>
    <xs:element name="RoleUpdate" type="esds:RoleUpdateIn"/>
    <xs:element name="RoleUpdateResult" type="esds:RoleUpdateOut"/>
    <xs:element name="RoleDelete" type="esds:RoleDeleteIn"/>
    <xs:element name="RoleDeleteResult" type="esds:RoleDeleteOut"/>
    <xs:element name="UserLookup" type="esds:UserLookupIn"/>
    <xs:element name="UserLookupResult" type="esds:UserLookupOut"/>
    <xs:element name="UserCreate" type="esds:UserCreateIn"/>
    <xs:element name="UserCreateResult" type="esds:UserCreateOut"/>
    <xs:element name="UserInfo" type="esds:UserInfoIn"/>
    <xs:element name="UserInfoResult" type="esds:UserInfoOut"/>
    <xs:element name="UserUpdate" type="esds:UserUpdateIn"/>
    <xs:element name="UserUpdateResult" type="esds:UserUpdateOut"/>
    <xs:element name="UserDelete" type="esds:UserDeleteIn"/>
    <xs:element name="UserDeleteResult" type="esds:UserDeleteOut"/>
    <xs:element name="UserLogin" type="esds:UserLoginIn"/>
    <xs:element name="UserLoginResult" type="esds:UserLoginOut"/>
    <xs:element name="UserLogout" type="esds:UserLogoutIn"/>
    <xs:element name="UserLogoutResult" type="esds:UserLogoutOut"/>
    <xs:element name="PartnerLookup" type="esds:PartnerLookupIn"/>
    <xs:element name="PartnerLookupResult" type="esds:PartnerLookupOut"/>
    <xs:element name="PartnerCreate" type="esds:PartnerCreateIn"/>
    <xs:element name="PartnerCreateResult" type="esds:PartnerCreateOut"/>
    <xs:element name="PartnerInfo" type="esds:PartnerInfoIn"/>
    <xs:element name="PartnerInfoResult" type="esds:PartnerInfoOut"/>
    <xs:element name="PartnerUpdate" type="esds:PartnerUpdateIn"/>
    <xs:element name="PartnerUpdateResult" type="esds:PartnerUpdateOut"/>
    <xs:element name="PartnerDelete" type="esds:PartnerDeleteIn"/>
    <xs:element name="PartnerDeleteResult" type="esds:PartnerDeleteOut"/>
    <xs:element name="SupplyChainLookup" type="esds:SupplyChainLookupIn"/>
    <xs:element name="SupplyChainLookupResult" type="esds:SupplyChainLookupOut"/>
    <xs:element name="SupplyChainCreate" type="esds:SupplyChainCreateIn"/>
    <xs:element name="SupplyChainCreateResult" type="esds:SupplyChainCreateOut"/>
    <xs:element name="SupplyChainInfo" type="esds:SupplyChainInfoIn"/>
    <xs:element name="SupplyChainInfoResult" type="esds:SupplyChainInfoOut"/>
    <xs:element name="SupplyChainUpdate" type="esds:SupplyChainUpdateIn"/>
    <xs:element name="SupplyChainUpdateResult" type="esds:SupplyChainUpdateOut"/>
    <xs:element name="SupplyChainDelete" type="esds:SupplyChainDeleteIn"/>
    <xs:element name="SupplyChainDeleteResult" type="esds:SupplyChainDeleteOut"/>
    <xs:element name="EventLookup" type="esds:EventLookupIn"/>
    <xs:element name="EventLookupResult" type="esds:EventLookupOut"/>
    <xs:element name="EventCreate" type="esds:EventCreateIn"/>
    <xs:element name="EventCreateResult" type="esds:EventCreateOut"/>

    <xs:element name="MultipleEventCreate" type="esds:MultipleEventCreateIn"/>
    <xs:element name="MultipleEventCreateResult" type="esds:MultipleEventCreateOut"/>

    <xs:element name="EventInfo" type="esds:EventInfoIn"/>
    <xs:element name="EventInfoResult" type="esds:EventInfoOut"/>
    <xs:element name="ESDSDocument" type="esds:tESDSDocument"/>
    <xs:complexType name="tESDSDocument">
        <xs:sequence>
            <xs:element name="ESDSBody" type="esds:tESDSBody"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tESDSBody">
        <xs:choice>
            <xs:element ref="esds:Hello"/>
            <xs:element ref="esds:HelloResult"/>
            <xs:element ref="esds:Lookup"/>
            <xs:element ref="esds:LookupResult"/>
            <xs:element ref="esds:RoleLookup"/>
            <xs:element ref="esds:RoleLookupResult"/>
            <xs:element ref="esds:RoleCreate"/>
            <xs:element ref="esds:RoleCreateResult"/>
            <xs:element ref="esds:RoleInfo"/>
            <xs:element ref="esds:RoleInfoResult"/>
            <xs:element ref="esds:RoleUpdate"/>
            <xs:element ref="esds:RoleUpdateResult"/>
            <xs:element ref="esds:RoleDelete"/>
            <xs:element ref="esds:RoleDeleteResult"/>
            <xs:element ref="esds:UserLookup"/>
            <xs:element ref="esds:UserLookupResult"/>
            <xs:element ref="esds:UserCreate"/>
            <xs:element ref="esds:UserCreateResult"/>
            <xs:element ref="esds:UserInfo"/>
            <xs:element ref="esds:UserInfoResult"/>
            <xs:element ref="esds:UserUpdate"/>
            <xs:element ref="esds:UserUpdateResult"/>
            <xs:element ref="esds:UserDelete"/>
            <xs:element ref="esds:UserDeleteResult"/>
            <xs:element ref="esds:UserLogin"/>
            <xs:element ref="esds:UserLoginResult"/>
            <xs:element ref="esds:UserLogout"/>
            <xs:element ref="esds:UserLogoutResult"/>
            <xs:element ref="esds:PartnerLookup"/>
            <xs:element ref="esds:PartnerLookupResult"/>
            <xs:element ref="esds:PartnerCreate"/>
            <xs:element ref="esds:PartnerCreateResult"/>
            <xs:element ref="esds:PartnerInfo"/>
            <xs:element ref="esds:PartnerInfoResult"/>
            <xs:element ref="esds:PartnerUpdate"/>
            <xs:element ref="esds:PartnerUpdateResult"/>
            <xs:element ref="esds:PartnerDelete"/>
            <xs:element ref="esds:PartnerDeleteResult"/>
            <xs:element ref="esds:SupplyChainLookup"/>
            <xs:element ref="esds:SupplyChainLookupResult"/>
            <xs:element ref="esds:SupplyChainCreate"/>
            <xs:element ref="esds:SupplyChainCreateResult"/>
            <xs:element ref="esds:SupplyChainInfo"/>
            <xs:element ref="esds:SupplyChainInfoResult"/>
            <xs:element ref="esds:SupplyChainUpdate"/>
            <xs:element ref="esds:SupplyChainUpdateResult"/>
            <xs:element ref="esds:SupplyChainDelete"/>
            <xs:element ref="esds:SupplyChainDeleteResult"/>
            <xs:element ref="esds:EventLookup"/>
            <xs:element ref="esds:EventLookupResult"/>

            <xs:element ref="esds:EventCreate"/>
            <xs:element ref="esds:EventCreateResult"/>
            <xs:element ref="esds:MultipleEventCreate"/>
            <xs:element ref="esds:MultipleEventCreateResult"/>

            <xs:element ref="esds:EventInfo"/>
            <xs:element ref="esds:EventInfoResult"/>
        </xs:choice>
    </xs:complexType>
</xs:schema>
