DSeTa/DSeTa-Client/src/main/resources/wsdl/ds.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xds="urn:unicaen:iota:ds:xsd"
           attributeFormDefault="unqualified"
           elementFormDefault="unqualified"
           targetNamespace="urn:unicaen:iota:ds:xsd">

    <xs:simpleType name="tPassword">
        <xs:restriction base="xs:token">
            <xs:minLength value="6"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tServiceURI">
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>

    <xs:simpleType name="tX509String">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tMessageDigestHexString">
        <xs:restriction base="xs:string">
            <xs:minLength value="2"/>
            <xs:maxLength value="512"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tLeaseSeconds">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxExclusive value="3600"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tEventPriority">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxExclusive value="9"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tEventTTL">
        <xs:restriction base="xs:positiveInteger"/>
    </xs:simpleType>

    <xs:simpleType name="tServiceType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="ws"/>
            <xs:enumeration value="epcis"/>
            <xs:enumeration value="html"/>
            <xs:enumeration value="xmlrpc"/>
            <xs:enumeration value="ds"/>
            <xs:enumeration value="ided_ds"/>
            <xs:enumeration value="ided_epcis"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tEventType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="void"/>
            <xs:enumeration value="object"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tObject">
        <xs:restriction base="xs:token">
            <xs:enumeration value="global"/>
            <xs:enumeration value="role"/>
            <xs:enumeration value="user"/>
            <xs:enumeration value="partner"/>
            <xs:enumeration value="supplychain"/>
            <xs:enumeration value="event"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tMethod">
        <xs:restriction base="xs:token">
            <xs:enumeration value="hello"/>
            <xs:enumeration value="login"/>
            <xs:enumeration value="logout"/>
            <xs:enumeration value="create"/>
            <xs:enumeration value="update"/>
            <xs:enumeration value="delete"/>
            <xs:enumeration value="info"/>
            <xs:enumeration value="lookup"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tPermission">
        <xs:restriction base="xs:token">
            <xs:enumeration value="execute"/>
            <xs:enumeration value="proxy"/>
            <xs:enumeration value="void"/>
            <xs:enumeration value="admin"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tListAction">
        <xs:restriction base="xs:token">
            <xs:enumeration value="add"/>
            <xs:enumeration value="remove"/>
            <xs:enumeration value="replace"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tLoginMode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="key-and-password"/>
            <xs:enumeration value="key-only"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tMessageDigestAlgorithm">
        <xs:restriction base="xs:token">
            <xs:enumeration value="md5"/>
            <xs:enumeration value="md4"/>
            <xs:enumeration value="md2"/>
            <xs:enumeration value="sha1"/>
            <xs:enumeration value="sha"/>
            <xs:enumeration value="mdc2"/>
            <xs:enumeration value="ripemd160"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tAccessMode">
        <xs:restriction base="xs:token">
            <xs:enumeration value="read"/>
            <xs:enumeration value="write"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tStatus">
        <xs:restriction base="xs:token">
            <xs:enumeration value="active"/>
            <xs:enumeration value="inactive"/>
            <xs:enumeration value="pending"/>
            <xs:enumeration value="processed"/>
            <xs:enumeration value="failed"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tResultCode">
        <xs:restriction base="xs:int">
            <xs:enumeration value="1000"/>
            <xs:enumeration value="1001"/>
            <xs:enumeration value="1500"/>
            <xs:enumeration value="2000"/>
            <xs:enumeration value="2001"/>
            <xs:enumeration value="2002"/>
            <xs:enumeration value="2003"/>
            <xs:enumeration value="2004"/>
            <xs:enumeration value="2005"/>
            <xs:enumeration value="2100"/>
            <xs:enumeration value="2101"/>
            <xs:enumeration value="2102"/>
            <xs:enumeration value="2103"/>
            <xs:enumeration value="2104"/>
            <xs:enumeration value="2200"/>
            <xs:enumeration value="2201"/>
            <xs:enumeration value="2202"/>
            <xs:enumeration value="2302"/>
            <xs:enumeration value="2303"/>
            <xs:enumeration value="2304"/>
            <xs:enumeration value="2305"/>
            <xs:enumeration value="2306"/>
            <xs:enumeration value="2306"/>
            <xs:enumeration value="2307"/>
            <xs:enumeration value="2400"/>
            <xs:enumeration value="2500"/>
            <xs:enumeration value="2501"/>
            <xs:enumeration value="2502"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tSessionID">
        <xs:restriction base="xs:token">
            <xs:minLength value="32"/>
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tRoleID">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tUserID">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tPartnerID">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tSupplyChainID">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tEventID">
        <xs:restriction base="xs:positiveInteger"/>
    </xs:simpleType>

    <xs:simpleType name="tEventClass">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tServiceID">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tEventTopicID">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tTableID">
        <xs:restriction base="xs:token">
            <xs:minLength value="2"/>
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tSmallUID">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="tLargeUID">
        <xs:restriction base="xs:positiveInteger"/>
    </xs:simpleType>

    <xs:simpleType name="tObjectID">
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>

    <xs:simpleType name="tObjectIDPattern">
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>

    <xs:simpleType name="tLifeCycleStepID">
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>

    <xs:simpleType name="tExtensionID">
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>

    <xs:simpleType name="tReasonID">
        <xs:restriction base="xs:anyURI"/>
    </xs:simpleType>

    <xs:complexType name="tRoleItem">
        <xs:attribute name="id" type="xds:tRoleID" use="required"/>
        <xs:attribute name="uid" type="xds:tSmallUID"/>
    </xs:complexType>

    <xs:complexType name="tRoleItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="role" type="xds:tRoleItem"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tGrantItem">
        <xs:attribute name="o" type="xds:tObject" use="required"/>
        <xs:attribute name="m" type="xds:tMethod" use="required"/>
        <xs:attribute name="p" type="xds:tPermission" use="required"/>
    </xs:complexType>

    <xs:complexType name="tGrantItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="grant" type="xds:tGrantItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tUserItem">
        <xs:attribute name="id" type="xds:tUserID" use="required"/>
        <xs:attribute name="uid" type="xds:tSmallUID"/>
    </xs:complexType>

    <xs:complexType name="tUserItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="user" type="xds:tUserItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tPartnerItem">
        <xs:attribute name="id" type="xds:tPartnerID" use="required"/>
        <xs:attribute name="uid" type="xds:tSmallUID"/>
        <xs:attribute name="authority" type="xs:boolean"/>
    </xs:complexType>

    <xs:complexType name="tPartnerItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="partner" type="xds:tPartnerItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tSupplyChainItem">
        <xs:attribute name="id" type="xds:tSupplyChainID" use="required"/>
        <xs:attribute name="uid" type="xds:tSmallUID"/>
    </xs:complexType>

    <xs:complexType name="tSupplyChainItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="supplyChain" type="xds:tSupplyChainItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tEventItem">
        <xs:sequence>
            <xs:element name="serviceList" type="xds:tServiceItemList"/>
        </xs:sequence>
        <xs:attribute name="e" type="xds:tEventID" use="required"/>
        <xs:attribute name="o" type="xds:tObjectID" use="required"/>
        <xs:attribute name="t" type="xds:tEventType" use="required"/>
        <xs:attribute name="c" type="xds:tEventClass" use="required"/>
        <xs:attribute name="lcs" type="xds:tLifeCycleStepID" use="required"/>
        <xs:attribute name="ets" type="xs:dateTime" use="required"/>
        <xs:attribute name="sts" type="xs:dateTime" use="required"/>
        <xs:attribute name="u" type="xds:tUserID" use="required"/>
        <xs:attribute name="p" type="xds:tPartnerID" use="required"/>
        <xs:attribute name="sc" type="xds:tSupplyChainID" use="required"/>
    </xs:complexType>

    <xs:complexType name="tEventItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="event" type="xds:tEventItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tObjectItem">
        <xs:attribute name="id" type="xds:tObjectID" use="required"/>
    </xs:complexType>

    <xs:complexType name="tObjectItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="object" type="xds:tObjectItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tX509CertItem">
        <xs:attribute name="cn" type="xds:tX509String" use="required"/>
        <xs:attribute name="o" type="xds:tX509String" use="required"/>
        <xs:attribute name="fingerprint" type="xds:tX509String" use="required"/>
    </xs:complexType>

    <xs:complexType name="tX509CertItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="cert" type="xds:tX509CertItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tServiceItem">
        <xs:attribute name="id" type="xds:tServiceID" use="required"/>
        <xs:attribute name="type" type="xds:tServiceType" use="required"/>
        <xs:attribute name="uri" type="xds:tServiceURI" use="required"/>
    </xs:complexType>

    <xs:complexType name="tServiceItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="service" type="xds:tServiceItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tServiceIDList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="xds:tServiceID"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tLifeCycleStepItem">
        <xs:attribute name="id" type="xds:tLifeCycleStepID" use="required"/>
    </xs:complexType>

    <xs:complexType name="tLifeCycleStepItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="lifeCycleStep" type="xds:tLifeCycleStepItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tEventClassItem">
        <xs:attribute name="id" type="xds:tEventClass" use="required"/>
    </xs:complexType>

    <xs:complexType name="tEventClassItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="eventClass" type="xds:tEventClassItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tExtensionItem">
        <xs:attribute name="id" type="xds:tExtensionID" use="required"/>
    </xs:complexType>

    <xs:complexType name="tExtensionItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="xds:tExtensionItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tEventTopicItem">
        <xs:sequence>
            <xs:element minOccurs="0" name="lifeCycleStepList" type="xds:tLifeCycleStepItemList"/>
            <xs:element minOccurs="0" name="eventClassList" type="xds:tEventClassItemList"/>
        </xs:sequence>
        <xs:attribute name="id" type="xds:tEventTopicID" use="required"/>
        <xs:attribute name="objectIDPattern" type="xds:tObjectIDPattern" use="required"/>
    </xs:complexType>

    <xs:complexType name="tEventTopicItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="eventTopic" type="xds:tEventTopicItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tTableRowItem">
        <xs:attribute name="uid" type="xds:tSmallUID" use="required"/>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="desc" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="tTableRowItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="row" type="xds:tTableRowItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tEventLifeCycleStepAllowItem">
        <xs:attribute name="partnerID" type="xds:tPartnerID" use="required"/>
        <xs:attribute name="lifeCycleStepID" type="xds:tLifeCycleStepID" use="required"/>
        <xs:attribute name="accessMode" type="xds:tAccessMode" use="required"/>
        <xs:attribute name="userID" type="xds:tUserID"/>
    </xs:complexType>

    <xs:complexType name="tEventLifeCycleStepAllowItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="allow" type="xds:tEventLifeCycleStepAllowItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tEventDenyItem">
        <xs:attribute name="status" type="xds:tStatus" use="required"/>
        <xs:attribute name="supplyChainID" type="xds:tSupplyChainID" use="required"/>
        <xs:attribute name="partnerID" type="xds:tPartnerID" use="required"/>
        <xs:attribute name="userID" type="xds:tUserID"/>
        <xs:attribute name="objectIDPattern" type="xds:tObjectIDPattern"/>
        <xs:attribute name="startingAt" type="xs:dateTime"/>
        <xs:attribute name="endingAt" type="xs:dateTime"/>
    </xs:complexType>

    <xs:complexType name="tEventDenyItemList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="deny" type="xds:tEventDenyItem"/>
        </xs:sequence>
        <xs:attribute name="action" type="xds:tListAction"/>
    </xs:complexType>

    <xs:complexType name="tExtension">
        <xs:sequence>
            <xs:any maxOccurs="unbounded" namespace="##other"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tResult">
        <xs:sequence>
            <xs:element minOccurs="0" name="value" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="code" type="xds:tResultCode" use="required"/>
        <xs:attribute name="desc" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="tMessageDigest">
        <xs:sequence>
            <xs:element name="digest" type="xds:tMessageDigestHexString"/>
        </xs:sequence>
        <xs:attribute name="alg" type="xds:tMessageDigestAlgorithm" use="required"/>
    </xs:complexType>

    <xs:complexType abstract="true" name="tAbstractEvent">
        <xs:sequence>
            <xs:element minOccurs="0" name="extension" type="xds:tExtension"/>
            <xs:element minOccurs="0" name="priority" type="xds:tEventPriority"/>
            <xs:element minOccurs="0" name="ttl" type="xds:tEventTTL"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tVoidEvent">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractEvent">
                <xs:sequence>
                    <xs:element name="eventID" type="xds:tEventID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tObjectEvent">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractEvent">
                <xs:sequence>
                    <xs:element name="objectID" type="xds:tObjectID"/>
                    <xs:element name="lifeCycleStepID" type="xds:tLifeCycleStepID"/>
                    <xs:element name="eventClass" type="xds:tEventClass"/>
                    <xs:element name="sourceTS" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="serviceList" type="xds:tServiceIDList"/>
                    <xs:element minOccurs="0" name="messageDigest" type="xds:tMessageDigest"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tEventTypeChoice">
        <xs:choice>
            <xs:element name="voidEvent" type="xds:tVoidEvent"/>
            <xs:element name="objectEvent" type="xds:tObjectEvent"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="tObjectEventList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0"  name="objectEvent" type="xds:tObjectEvent"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tEventIDList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="eventID" type="xds:tEventID"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tInfoEvent">
        <xs:sequence>
            <xs:element name="eventID" type="xds:tEventID"/>
            <xs:element name="objectID" type="xds:tObjectID"/>
            <xs:element name="eventType" type="xds:tEventType"/>
            <xs:element name="eventClass" type="xds:tEventClass"/>
            <xs:element name="lifeCycleStepID" type="xds:tLifeCycleStepID"/>
            <xs:element name="eventTS" type="xs:dateTime"/>
            <xs:element name="sourceTS" type="xs:dateTime"/>
            <xs:element name="partnerID" type="xds:tPartnerID"/>
            <xs:element name="supplyChainID" type="xds:tSupplyChainID"/>
            <xs:element name="userID" type="xds:tUserID"/>
            <xs:element minOccurs="0" name="serviceList" type="xds:tServiceItemList"/>
            <xs:element minOccurs="0" name="messageDigest" type="xds:tMessageDigest"/>
            <xs:element minOccurs="0" name="priority" type="xds:tEventPriority"/>
            <xs:element minOccurs="0" name="ttl" type="xds:tEventTTL"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType abstract="true" name="tAbstractIn">
        <xs:sequence>
            <xs:element name="sid" type="xds:tSessionID"/>
            <xs:element minOccurs="0" name="extension" type="xds:tExtension"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType abstract="true" name="tAbstractOut">
        <xs:sequence>
            <xs:element name="result" type="xds:tResult"/>
            <xs:element minOccurs="0" name="extension" type="xds:tExtension"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="HelloIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HelloOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="serverIdentity" type="xs:token"/>
                    <xs:element name="serverTS" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="extensionList" type="xds:tExtensionItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LookupIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="tableID" type="xds:tTableID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="LookupOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="rowList" type="xds:tTableRowItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RoleLookupIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="roleID" type="xds:tRoleID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RoleLookupOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="roleList" type="xds:tRoleItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RoleCreateIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="roleID" type="xds:tRoleID"/>
                    <xs:element minOccurs="0" name="grantList" type="xds:tGrantItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RoleCreateOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="roleUID" type="xds:tSmallUID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RoleInfoIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="roleID" type="xds:tRoleID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RoleInfoOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="roleUID" type="xds:tSmallUID"/>
                    <xs:element name="roleID" type="xds:tRoleID"/>
                    <xs:element minOccurs="0" name="grantList" type="xds:tGrantItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RoleUpdateIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="roleUID" type="xds:tSmallUID"/>
                    <xs:element minOccurs="0" name="roleID" type="xds:tRoleID"/>
                    <xs:element minOccurs="0" name="grantList" type="xds:tGrantItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RoleUpdateOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RoleDeleteIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="roleID" type="xds:tRoleID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RoleDeleteOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserLookupIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="userID" type="xds:tUserID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserLookupOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="userList" type="xds:tUserItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserCreateIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="userID" type="xds:tUserID"/>
                    <xs:element name="password" type="xds:tPassword"/>
                    <xs:element name="roleID" type="xds:tRoleID"/>
                    <xs:element name="partnerID" type="xds:tPartnerID"/>
                    <xs:element name="loginMode" type="xds:tLoginMode"/>
                    <xs:element name="sessionLease" type="xds:tLeaseSeconds"/>
                    <xs:element minOccurs="0" name="authorizedCertList" type="xds:tX509CertItemList"/>
                    <xs:element minOccurs="0" name="eventNotifyTopicList" type="xds:tEventTopicItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserCreateOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="userUID" type="xds:tSmallUID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserInfoIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="userID" type="xds:tUserID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserInfoOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="userUID" type="xds:tSmallUID"/>
                    <xs:element name="userID" type="xds:tUserID"/>
                    <xs:element name="roleID" type="xds:tRoleID"/>
                    <xs:element name="partnerID" type="xds:tPartnerID"/>
                    <xs:element name="loginMode" type="xds:tLoginMode"/>
                    <xs:element name="sessionLease" type="xds:tLeaseSeconds"/>
                    <xs:element minOccurs="0" name="authorizedCertList" type="xds:tX509CertItemList"/>
                    <xs:element minOccurs="0" name="eventNotifyTopicList" type="xds:tEventTopicItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserUpdateIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="userUID" type="xds:tSmallUID"/>
                    <xs:element minOccurs="0" name="userID" type="xds:tUserID"/>
                    <xs:element minOccurs="0" name="password" type="xds:tPassword"/>
                    <xs:element minOccurs="0" name="roleID" type="xds:tRoleID"/>
                    <xs:element minOccurs="0" name="partnerID" type="xds:tPartnerID"/>
                    <xs:element minOccurs="0" name="loginMode" type="xds:tLoginMode"/>
                    <xs:element minOccurs="0" name="sessionLease" type="xds:tLeaseSeconds"/>
                    <xs:element minOccurs="0" name="authorizedCertList" type="xds:tX509CertItemList"/>
                    <xs:element minOccurs="0" name="eventNotifyTopicList" type="xds:tEventTopicItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserUpdateOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserDeleteIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="userID" type="xds:tUserID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserDeleteOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserLoginIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="userID" type="xds:tUserID"/>
                    <xs:element name="password" type="xds:tPassword"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserLoginOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="sid" type="xds:tSessionID"/>
                    <xs:element name="sessionLease" type="xds:tLeaseSeconds"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserLogoutIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UserLogoutOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PartnerLookupIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="partnerID" type="xds:tPartnerID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PartnerLookupOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="partnerList" type="xds:tPartnerItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PartnerCreateIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="partnerID" type="xds:tPartnerID"/>
                    <xs:element minOccurs="0" name="serviceList" type="xds:tServiceItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PartnerCreateOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="partnerUID" type="xds:tSmallUID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PartnerInfoIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="partnerID" type="xds:tPartnerID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PartnerInfoOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="partnerUID" type="xds:tSmallUID"/>
                    <xs:element name="partnerID" type="xds:tPartnerID"/>
                    <xs:element name="supplyChainList" type="xds:tSupplyChainItemList"/>
                    <xs:element name="serviceList" type="xds:tServiceItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PartnerUpdateIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="partnerUID" type="xds:tSmallUID"/>
                    <xs:element minOccurs="0" name="partnerID" type="xds:tPartnerID"/>
                    <xs:element minOccurs="0" name="serviceList" type="xds:tServiceItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PartnerUpdateOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PartnerDeleteIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="partnerID" type="xds:tPartnerID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="PartnerDeleteOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SupplyChainLookupIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="supplyChainID" type="xds:tSupplyChainID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SupplyChainLookupOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="supplyChainList" type="xds:tSupplyChainItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SupplyChainCreateIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="supplyChainID" type="xds:tSupplyChainID"/>
                    <xs:element minOccurs="0" name="partnerList" type="xds:tPartnerItemList"/>
                    <xs:element minOccurs="0" name="eventDenyList" type="xds:tEventDenyItemList"/>
                    <xs:element minOccurs="0" name="lifeCycleAllowList" type="xds:tEventLifeCycleStepAllowItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SupplyChainCreateOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="supplyChainUID" type="xds:tSmallUID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SupplyChainInfoIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="supplyChainID" type="xds:tSupplyChainID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SupplyChainInfoOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="supplyChainUID" type="xds:tSmallUID"/>
                    <xs:element name="supplyChainID" type="xds:tSupplyChainID"/>
                    <xs:element minOccurs="0" name="partnerList" type="xds:tPartnerItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SupplyChainUpdateIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="supplyChainUID" type="xds:tSmallUID"/>
                    <xs:element minOccurs="0" name="supplyChainID" type="xds:tSupplyChainID"/>
                    <xs:element minOccurs="0" name="partnerList" type="xds:tPartnerItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SupplyChainUpdateOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SupplyChainDeleteIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="supplyChainID" type="xds:tSupplyChainID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SupplyChainDeleteOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EventLookupIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="objectID" type="xds:tObjectID"/>
                    <xs:element minOccurs="0" name="lifeCycleStepID" type="xds:tLifeCycleStepID"/>
                    <xs:element minOccurs="0" name="startingAt" type="xs:dateTime"/>
                    <xs:element minOccurs="0" name="endingAt" type="xs:dateTime"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EventLookupOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="eventList" type="xds:tEventItemList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EventCreateIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="event" type="xds:tEventTypeChoice"/>
                    <xs:element name="supplyChainID" type="xds:tSupplyChainID"/>
                    <xs:element minOccurs="0" name="proxyPartnerID" type="xds:tPartnerID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EventCreateOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="eventID" type="xds:tEventID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MultipleEventCreateIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="events" type="xds:tObjectEventList"/>
                    <xs:element name="supplyChainID" type="xds:tSupplyChainID"/>
                    <xs:element minOccurs="0" name="proxyPartnerID" type="xds:tPartnerID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MultipleEventCreateOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="eventIDList" type="xds:tEventIDList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EventInfoIn">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractIn">
                <xs:sequence>
                    <xs:element name="eventID" type="xds:tEventID"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EventInfoOut">
        <xs:complexContent>
            <xs:extension base="xds:tAbstractOut">
                <xs:sequence>
                    <xs:element name="event" type="xds:tInfoEvent"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Hello" type="xds:HelloIn"/>

    <xs:element name="HelloResult" type="xds:HelloOut"/>

    <xs:element name="Lookup" type="xds:LookupIn"/>

    <xs:element name="LookupResult" type="xds:LookupOut"/>

    <xs:element name="RoleLookup" type="xds:RoleLookupIn"/>

    <xs:element name="RoleLookupResult" type="xds:RoleLookupOut"/>

    <xs:element name="RoleCreate" type="xds:RoleCreateIn"/>

    <xs:element name="RoleCreateResult" type="xds:RoleCreateOut"/>

    <xs:element name="RoleInfo" type="xds:RoleInfoIn"/>

    <xs:element name="RoleInfoResult" type="xds:RoleInfoOut"/>

    <xs:element name="RoleUpdate" type="xds:RoleUpdateIn"/>

    <xs:element name="RoleUpdateResult" type="xds:RoleUpdateOut"/>

    <xs:element name="RoleDelete" type="xds:RoleDeleteIn"/>

    <xs:element name="RoleDeleteResult" type="xds:RoleDeleteOut"/>

    <xs:element name="UserLookup" type="xds:UserLookupIn"/>

    <xs:element name="UserLookupResult" type="xds:UserLookupOut"/>

    <xs:element name="UserCreate" type="xds:UserCreateIn"/>

    <xs:element name="UserCreateResult" type="xds:UserCreateOut"/>

    <xs:element name="UserInfo" type="xds:UserInfoIn"/>

    <xs:element name="UserInfoResult" type="xds:UserInfoOut"/>

    <xs:element name="UserUpdate" type="xds:UserUpdateIn"/>

    <xs:element name="UserUpdateResult" type="xds:UserUpdateOut"/>

    <xs:element name="UserDelete" type="xds:UserDeleteIn"/>

    <xs:element name="UserDeleteResult" type="xds:UserDeleteOut"/>

    <xs:element name="UserLogin" type="xds:UserLoginIn"/>

    <xs:element name="UserLoginResult" type="xds:UserLoginOut"/>

    <xs:element name="UserLogout" type="xds:UserLogoutIn"/>

    <xs:element name="UserLogoutResult" type="xds:UserLogoutOut"/>

    <xs:element name="PartnerLookup" type="xds:PartnerLookupIn"/>

    <xs:element name="PartnerLookupResult" type="xds:PartnerLookupOut"/>

    <xs:element name="PartnerCreate" type="xds:PartnerCreateIn"/>

    <xs:element name="PartnerCreateResult" type="xds:PartnerCreateOut"/>

    <xs:element name="PartnerInfo" type="xds:PartnerInfoIn"/>

    <xs:element name="PartnerInfoResult" type="xds:PartnerInfoOut"/>

    <xs:element name="PartnerUpdate" type="xds:PartnerUpdateIn"/>

    <xs:element name="PartnerUpdateResult" type="xds:PartnerUpdateOut"/>

    <xs:element name="PartnerDelete" type="xds:PartnerDeleteIn"/>

    <xs:element name="PartnerDeleteResult" type="xds:PartnerDeleteOut"/>

    <xs:element name="SupplyChainLookup" type="xds:SupplyChainLookupIn"/>

    <xs:element name="SupplyChainLookupResult" type="xds:SupplyChainLookupOut"/>

    <xs:element name="SupplyChainCreate" type="xds:SupplyChainCreateIn"/>

    <xs:element name="SupplyChainCreateResult" type="xds:SupplyChainCreateOut"/>

    <xs:element name="SupplyChainInfo" type="xds:SupplyChainInfoIn"/>

    <xs:element name="SupplyChainInfoResult" type="xds:SupplyChainInfoOut"/>

    <xs:element name="SupplyChainUpdate" type="xds:SupplyChainUpdateIn"/>

    <xs:element name="SupplyChainUpdateResult" type="xds:SupplyChainUpdateOut"/>

    <xs:element name="SupplyChainDelete" type="xds:SupplyChainDeleteIn"/>

    <xs:element name="SupplyChainDeleteResult" type="xds:SupplyChainDeleteOut"/>

    <xs:element name="EventLookup" type="xds:EventLookupIn"/>

    <xs:element name="EventLookupResult" type="xds:EventLookupOut"/>

    <xs:element name="EventCreate" type="xds:EventCreateIn"/>

    <xs:element name="EventCreateResult" type="xds:EventCreateOut"/>

    <xs:element name="MultipleEventCreate" type="xds:MultipleEventCreateIn"/>

    <xs:element name="MultipleEventCreateResult" type="xds:MultipleEventCreateOut"/>

    <xs:element name="EventInfo" type="xds:EventInfoIn"/>

    <xs:element name="EventInfoResult" type="xds:EventInfoOut"/>

    <xs:element name="ESDSDocument" type="xds:tESDSDocument"/>

    <xs:complexType name="tESDSDocument">
        <xs:sequence>
            <xs:element name="ESDSBody" type="xds:tESDSBody"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="tESDSBody">
        <xs:choice>
            <xs:element ref="xds:Hello"/>
            <xs:element ref="xds:HelloResult"/>
            <xs:element ref="xds:Lookup"/>
            <xs:element ref="xds:LookupResult"/>
            <xs:element ref="xds:RoleLookup"/>
            <xs:element ref="xds:RoleLookupResult"/>
            <xs:element ref="xds:RoleCreate"/>
            <xs:element ref="xds:RoleCreateResult"/>
            <xs:element ref="xds:RoleInfo"/>
            <xs:element ref="xds:RoleInfoResult"/>
            <xs:element ref="xds:RoleUpdate"/>
            <xs:element ref="xds:RoleUpdateResult"/>
            <xs:element ref="xds:RoleDelete"/>
            <xs:element ref="xds:RoleDeleteResult"/>
            <xs:element ref="xds:UserLookup"/>
            <xs:element ref="xds:UserLookupResult"/>
            <xs:element ref="xds:UserCreate"/>
            <xs:element ref="xds:UserCreateResult"/>
            <xs:element ref="xds:UserInfo"/>
            <xs:element ref="xds:UserInfoResult"/>
            <xs:element ref="xds:UserUpdate"/>
            <xs:element ref="xds:UserUpdateResult"/>
            <xs:element ref="xds:UserDelete"/>
            <xs:element ref="xds:UserDeleteResult"/>
            <xs:element ref="xds:UserLogin"/>
            <xs:element ref="xds:UserLoginResult"/>
            <xs:element ref="xds:UserLogout"/>
            <xs:element ref="xds:UserLogoutResult"/>
            <xs:element ref="xds:PartnerLookup"/>
            <xs:element ref="xds:PartnerLookupResult"/>
            <xs:element ref="xds:PartnerCreate"/>
            <xs:element ref="xds:PartnerCreateResult"/>
            <xs:element ref="xds:PartnerInfo"/>
            <xs:element ref="xds:PartnerInfoResult"/>
            <xs:element ref="xds:PartnerUpdate"/>
            <xs:element ref="xds:PartnerUpdateResult"/>
            <xs:element ref="xds:PartnerDelete"/>
            <xs:element ref="xds:PartnerDeleteResult"/>
            <xs:element ref="xds:SupplyChainLookup"/>
            <xs:element ref="xds:SupplyChainLookupResult"/>
            <xs:element ref="xds:SupplyChainCreate"/>
            <xs:element ref="xds:SupplyChainCreateResult"/>
            <xs:element ref="xds:SupplyChainInfo"/>
            <xs:element ref="xds:SupplyChainInfoResult"/>
            <xs:element ref="xds:SupplyChainUpdate"/>
            <xs:element ref="xds:SupplyChainUpdateResult"/>
            <xs:element ref="xds:SupplyChainDelete"/>
            <xs:element ref="xds:SupplyChainDeleteResult"/>
            <xs:element ref="xds:EventLookup"/>
            <xs:element ref="xds:EventLookupResult"/>

            <xs:element ref="xds:EventCreate"/>
            <xs:element ref="xds:EventCreateResult"/>
            <xs:element ref="xds:MultipleEventCreate"/>
            <xs:element ref="xds:MultipleEventCreateResult"/>

            <xs:element ref="xds:EventInfo"/>
            <xs:element ref="xds:EventInfoResult"/>
        </xs:choice>
    </xs:complexType>

</xs:schema>
