DSeTa/DSeTa-Client/src/main/resources/wsdl/tau-ds.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:unicaen:iota:dseta:wsdl"
                  xmlns:wsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:impl="urn:unicaen:iota:ds:wsdl"
                  xmlns:xds="urn:unicaen:iota:ds:xsd"
                  xmlns:wds="urn:unicaen:iota:dseta:wsdl"
                  xmlns:tau="urn:unicaen:iota:tau:xsd">

    <wsdl:import namespace="urn:unicaen:iota:ds:wsdl" location="ds.wsdl" />

    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" >
            <xs:import namespace="urn:unicaen:iota:tau:xsd" schemaLocation="tau.xsd"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="IDed_multipleEventCreateReq">
        <wsdl:part name="parms" element="xds:MultipleEventCreate"/>
        <wsdl:part name="id" element="tau:identity"/>
    </wsdl:message>

    <wsdl:message name="IDed_eventLookupReq">
        <wsdl:part name="parms" element="xds:EventLookup"/>
        <wsdl:part name="id" element="tau:identity"/>
    </wsdl:message>

    <wsdl:message name="IDed_eventCreateReq">
        <wsdl:part name="parms" element="xds:EventCreate"/>
        <wsdl:part name="id" element="tau:identity"/>
    </wsdl:message>

    <wsdl:portType name="IDed_DSServicePortType">

        <wsdl:operation name="IDed_eventLookup">
            <wsdl:input name="IDed_eventLookupReq" message="wds:IDed_eventLookupReq"/>
            <wsdl:output name="eventLookupRsp" message="impl:eventLookupRsp"/>
        </wsdl:operation>
        
        <wsdl:operation name="IDed_multipleEventCreate">
            <wsdl:input name="IDed_multipleEventCreateReq" message="wds:IDed_multipleEventCreateReq"/>
            <wsdl:output name="multipleEventCreateRsp" message="impl:multipleEventCreateRsp"/>
        </wsdl:operation>

        <wsdl:operation name="IDed_eventCreate">
            <wsdl:input name="IDed_eventCreateReq" message="wds:IDed_eventCreateReq"/>
            <wsdl:output name="eventCreateRsp" message="impl:eventCreateRsp"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="IDed_DS" type="wds:IDed_DSServicePortType">
        <wsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="IDed_eventLookup">
            <wsoap:operation/>
            <wsdl:input>
                <wsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="IDed_eventCreate">
            <wsoap:operation/>
            <wsdl:input>
                <wsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="IDed_multipleEventCreate">
            <wsoap:operation/>
            <wsdl:input>
                <wsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="IDed_DS_Service">
        <wsdl:port name="IDed_DS_ServicePort" binding="wds:IDed_DS">
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
